h1 Add new meal 
div 
    h1= doc._id 
    h2= doc.date
    h3= mealType
    form(method="post" action="/mealplans/new-meal")
        input(type='hidden' name='doc-id' value=`${doc._id}`)
        input(type='hidden' name='mealType' value=`${mealType}`)
        label(for='new-name') Name
        input(type=text id='new-name' name='meal-name')
        label(for='new-tag') Tags
        input(type=text id='new-tag' name='meal-tags')
        button(type=submit) Create